<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Travel App Project</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body cz-shortcut-listen="true">
  <nav>
      <a href="/" class="brand">
        <h2>Travel App Project</h2>
      </a>
      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger" style="font-size:2em;">&#8801;</label>

      <div class="menu">
        <a href="https://github.com/ThomasLettenbauer/TravelApp" target="_blank" class="button icon-file-code">GitHub</a>
        <a href="https://www.linkedin.com/in/tomlet" target="_blank" class="button icon-users">LinkedIn</a>
      </div>
  </nav>

  <main id="home" class="app">
    <section class="flex five">

      <aside class="full fifth-1000">
      </aside>

      <div class="full three-fifth-1000">

        <form class="card" id="destinationform" onsubmit="return Client.handleSubmit(event)">
          <h1>Travel Planner</h1>
        <fieldset>
          
          <label for="destination">My Trip to</label>
          <input type="text" id="destination" placeholder="Destination"></input>

          <label for="datefrom">Departing</label>
          <input type="date" id="datefrom" placeholder="Date of departure"></input>

        </fieldset>
          <!-- Placeholder for errors -->
          <div id="error" class="pseudo button error"></div>
          <button class="button icon-plus-squared" id="adddestination" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Add Destination</button>
        </form>

        <div class="card" id="outputform">
          <h1> Output Form </h1>
          <div>
            <div id="daysleft">Days left</div>
            <div id="currenttemperature">Current Temperature</div>
            <div id="forecast">Forecast</div>            
            <!-- Placeholder for Image -->
            <div id="destinationimage"></div>
          </div>
        </div>

    </div>
    </section>    
  </main>    
  
  <!-- Enable Service workers -->
  <!--
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
-->

</body>

</html>